/* h1{
  border-color: #d3e644;
  border-style: dashed;
} */

/* Changed default h1 from professor to my own h1 */
h1 {
  text-align: center;
}

/* Background image for intro.html */
.intro-bg {
  background-image: url(../img/Thornestown\ \(408\ Project\).png);
  background-size: cover;
  background-position: center center;
}

/* Background image for index.html */
.index-bg {
  background-image: url(../img/brown_bckg.jpg);
  background-size: cover;
  background-position: center center;
}

/* Formats all <p> elements outside of the table, keeping the table's <p> styling unique. Quickly fixed with ChatGPT*/
body > p {
  margin-left: 100px;
  margin-right: 100px;
}

.stats-window {
  text-align: center;
}

/* Referenced how to center a table at https://www.w3schools.com/howto/howto_css_table_center.asp */
.center-classes {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

/* Centering table data <td> content (the classes and their descriptions) with ChatGPT */
.classes {
    max-width: 150px;     /* limits the width */
    padding: 8px 12px;    /* spacing inside cells */
    text-align: center;     /* aligns text inside cell */
    white-space: normal;  /* prevents wrapping to a new line */
    vertical-align: top;
    overflow: visible;     /* hide overflow */
}

/* Center buttons found with help from ChatGPT (currently unused) */
/* .center-class-choice {
  display: block;
  margin: 10px auto 0;
} */

/* Found button alignment on bottom-right of screen with Google's AI Overview */
.route-two-index {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

/* Aligns the button for the left route on the bottom-left side of the screen */
.route-one {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}

/* Aligns back button to bottom-center of the screen. Note: will possibly remove for future buttons like stats */
.back {
  position: relative;
  bottom: 0;
  left: 50%;
  margin: 20px;
}

/* Used to style the player's class choice button and access it in character.js */
.class-choice {
  margin: auto;
}

.add-container {
  width: 350px;
  margin: 40px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 6px;
  /* background-color: #5f82a0; */
  text-align: center;
}